body {
  color: white;
  padding: 0 8px 0;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

div {
  padding-top: 2px;
  padding-bottom: 2px;
}

p {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.sp-tab-page {
  display: none;
  flex: 1 1 auto;
  overflow: scroll;
  flex-direction: column;
}

.sp-tab-page.visible {
  display: flex;
}

.sp-tab-page>* {
  flex: 0 0 auto;
}



