body {
  color: white;
  padding: 0 8px 0;
}

li:before {
  content: '• ';
  width: 3em;
}

.step {
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

li:before {
  content: '• ';
  width: 3em;
}

/* sp-body {
  flex: 1 1 auto;
} */
.btn {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

div {
  padding-top: 4px;
  padding-bottom: 4px;
}

p {
  display: flex;
  justify-content: space-between;
}

.sp-tab-page {
  display: none;
  flex: 1 1 auto;
  overflow: scroll;
  flex-direction: column;
}

.sp-tab-page.visible {
  display: flex;
}

.sp-tab-page>* {
  flex: 0 0 auto;
}

/* sp-textfield {
  width: 30%;

}
sp-label {
  width:30%;
} */
/* sp-slider {
  width: 20%;
} */